<div id="contact" class="container">
    <div class="row">
        <div class="col">
            <h3>
                Contact
            </h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem error doloremque labore optio similique
                quas? Dolores expedita quae culpa similique sequi, excepturi eius beatae illo corrupti eaque repudiandae
                tempore magni!
            </p>
        </div>
    </div>
    <div>
        <form class="border rounded bg-light offset-md-3 col-6">
            <div class="row">
                <label class="col-3 text-right">
                    <b>Your E-Mail</b>
                </label>
                <input type="email" class="col-9" placeholder="Your E-mail">
            </div>
            <div class="row">
                <label class="col-3 text-right">
                    <b>Your Message</b>
                </label>
                <textarea class="col-9" placeholder="Please enter your message here..."></textarea>
            </div>
            <div class="row">
                <button class="btn btn-primary col offset-md-10">Submit</button>
            </div>
        </form>
    </div>
</div>