<!-- your html code here -->
<div  id="contact">
    <h1>
        Contact
    </h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quibusdam cum magni et maxime exercitationem,
        voluptas dolorem nulla animi doloremque earum ipsam molestiae hic nisi quis recusandae eaque corrupti eveniet?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia perferendis blanditiis numquam, maxime quia
        eligendi? Quis labore incidunt quam inventore error nam vel optio, dignissimos expedita ut mollitia recusandae!
        Similique!
    </p>
    <div>
        <form class="border rounded bg-light offset-md-3 col-6">
            <div class="row">
                <p class="col-3 text-right">
                    Your E-Mail
                </p>
                <input type="email" class="col-9">
            </div>
            <div class="row">
                <p class="col-3 text-right">
                    Your Message
                </p>
                <textarea class="col-9">

                </textarea>
            </div>
            <div class="row">
                <button class="btn btn-primary col offset-md-10">Submit</button>    
            </div>
        </form>
    </div>
</div>