<body></body>
    <div class="first_heading">
        <div class="first_heading_text">
            <h1><span>This First Heading </span>Will Cathc Your Eye</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam urna turpis, porta vel convallis sit amet, vulputate non mi. Mauris ut massa vel ipsum semper commodo. Etiam auctor leo sit amet hendrerit dapibus. Cras pellentesque lorem est, vitae tristique orci pretium at. Duis commodo, erat sed congue elementum, mauris diam dapibus ante, a aliquam leo libero ut dolor.</p>
        </div>
        <div class="first_heading_image">
            <img src="assets/img/1.jpg" class="rounded float-end" alt="...">
        </div>
    </div>
</body>