<div class="container">
    <div class="row first_heading">
        <div class="first_heading_text col-md-9">
            <h3><span>This First Heading </span>Will Cathc Your Eye</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam urna turpis, porta vel convallis sit amet,
                vulputate non mi. Mauris ut massa vel ipsum semper commodo. Etiam auctor leo sit amet hendrerit dapibus.
                Cras pellentesque lorem est.</p>
        </div>
        <div class="first_heading_image col-md-3">
            <img src="assets/img/1.jpg" class="rounded-circle" alt="...">
            <span id="services"></span>
        </div>
    </div>
</div>