<div id="services" class="container">
    <div class="row first_heading">
        <div class="first_heading_image col-md-3">
            <img src="assets/img/2.jpg" class="rounded-circle"" alt="...">
        </div>
        <div class="first_heading_text col-md-9">
            <h3><span>The Second Heading</span> Is Pretty Cool Too</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam urna turpis, porta vel convallis sit amet, vulputate non mi. Mauris ut massa vel ipsum semper commodo. Etiam auctor leo sit amet hendrerit dapibus. Cras pellentesque lorem est.</p>
        </div>        
    </div>
</div>